<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>listUserServlet</servlet-name>
        <servlet-class>org.softserveacademy.web.servlet.ListUserServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>listUserServlet</servlet-name>
        <url-pattern>/listUserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>createUserServlet</servlet-name>
        <servlet-class>org.softserveacademy.web.servlet.CreateUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createUserServlet</servlet-name>
        <url-pattern>/createUserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updateUserServlet</servlet-name>
        <servlet-class>org.softserveacademy.web.servlet.UpdateUserServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateUserServlet</servlet-name>
        <url-pattern>/updateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteUserServlet</servlet-name>
        <servlet-class>org.softserveacademy.web.servlet.DeleteUserServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteUserServlet</servlet-name>
        <url-pattern>/deleteUserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>retrieveUserServlet</servlet-name>
        <servlet-class>org.softserveacademy.web.servlet.RetrieveUserServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>retrieveUserServlet</servlet-name>
        <url-pattern>/retrieveUserServlet</url-pattern>
    </servlet-mapping>
</web-app>